/* Button */
.btn {
    display: inline-block;
    background: linear-gradient(130deg, #ff7b4e 15.57%, #ff584e 95.03%);
    font-size: 20px;
    font-weight: 600;
    border-radius: 27px;

    color: #fff !important;
  }
  
  .btn:hover {
    color: rgb(245, 233, 127) !important;
    transition: color 0.2s ease-in;
  }
  
  .btn:active {
    position: relative;
    top: 1px;
  }


.btn--nav {
    padding: 13px 44px;
    font-style: 15px;
    font-weight: 500;
    border-radius: 100px;
}

.btn--header {
    padding: 27px 48px;
    font-size: 25px; 
}

.btn--destinations {
    padding: 25px 45px;
}

.btn--cta {
    padding: 25px 55px;
}

.btn--subscribe {
    padding: 34px 86px;
    border-radius: 35px;
    font-size: 25px;
}

.btn--login {
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
  background : var(--orange);
}



.slider__btn {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
  
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
  
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
  }
  
  .slider__btn--prev {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
  }
  
  .slider__btn--next {
    right: -27px;
    padding-right: 26px;
    justify-content: flex-end;
  }



