/* Button */

.btn {
    display: inline-block;
    padding: 13px 44px;

    font-style: 15px;
    font-weight: 500;
    color: #fff;

    border-radius: 100px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;

}

.btn:hover {
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

.header__btn {
    display: inline-block;
    padding: 27px 48px;

    border-radius: 27px;
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);

    font-size: 25px;
    font-weight: 600;
    
}

.header__btn:hover {
    color: rgb(245, 233, 127);
    transition: color 0.2s ease-in;
}

.header__btn:active {
    position: relative;
    top: 1px;
}


