/* Header content */

.header__badge {
    display: inline-block;
    margin-bottom: 7px;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
}


.header__title {
    margin-bottom: 30px;
    font-size: 55px;
    font-weight: 400;
}


.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5)
}


