/* Header */

.header {
    overflow: hidden;
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(132deg, #428E5F -17.38%, #112120 78.4%);
    color: #FFF;
    
}

.header a {
    color: #FFF;
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;

    background-image: url(./../img/header/header-bottom.svg);
    background-size: 100%;
}

.header-top {
    margin-bottom: 86px;
}

.header__row {
    display: flex;

}


.header-content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__img {
    position: relative;
    flex-grow: 1;

}

.header__img img {
    position: absolute;
    top: -180px;
    right: -100px;
    max-width: unset;
    width: 894px;
    height: 940px;
}

/* Header content */

.header__badge {
    display: inline-block;
    margin-bottom: 7px;
    padding: 11px 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
}


.header__title {
    margin-bottom: 30px;
    font-size: 55px;
    font-weight: 400;
}


.header__text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5)
}

