@import "./reset.css";
@import "./header.css";
@import "./nav.css";
@import "./logo.css";
@import "./btn.css";

/* font-family: 'Poppins', sans-serif; */
:root {
 --container-width: 1270px;
 --container-padding: 15px;
 --secondary: rgb(15, 31, 28, 0.5);
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0F1F1C;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right {
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
    padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
    height: 200px;
    background-color: aquamarine;
}

/* Destinations */


.destionations {
    padding: 96px 0 100px;
}

.container-right {
}

.destinations__row {
    display: flex;
    column-gap: 50px;
}

.destionations__content {
    max-width: 456px;
}

.destionations__slider {
    width: 1110px;
    flex-shrink: 0;
}









