/* Slider */

.slider {
    position: relative;
  
  }
  
  .slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
  
    transition: 0.2s ease-in;
  }
  
  .slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
  }
  
  .slider__btn {
    position: absolute;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
  
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
  
    background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
  }
  
  .slider__btn--prev {
    left: -27px;
    padding-left: 26px;
    justify-content: flex-start;
  }
  
  .slider__btn--next {
    right: -27px;
    padding-right: 26px;
    justify-content: flex-end;
  }
  