/* Slider */

.slider {
    position: relative;
    height: 456px;
  
  }
  
  .slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
  
    transition: 0.2s ease-in;
  }
  
  .slider .center .slider__item {
    margin-top: 0;
    width: 380px;
    height: 456px;
  }
  
 