/* font-family: 'Poppins', sans-serif; */
$font-main: "Poppins", sans-serif;

// Grid
$container-width: 1270px;
$container-padding: 15px;

// Colors 
$white: #fff;
$secondary: rgb(15, 31, 28, 0.5);
$orange: #FF7C4E;
$btn-hover: rgb(245, 233, 127) ;
